    @{
    ViewData["Title"] = "Home Page";
}

<!-- Jeu-->
<section class="projects-section bg-light" id="game">
    <div class="container px-4 px-lg-5">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4 class="text-uppercase">votre tirage : </h4>
                    <p class="text-black-50 mb-0">Veuillez sélectionner six boules de 1 à 49 Une fois fais vous pouvez validé votre tirage</p>
                </div>
            </div>
        </div>
        <div class="grille">
            <table class="table table-borderless">
                <tbody>
                    @for (int i = 1; i <= 7; i++)
                    {
                        <tr>  
                            @for (int j = 1; j <= 7; j++)
                            {
                                <td class="">
                                    <div onclick="getNumberID(@((i - 1) * 7 + j))" id="@((i - 1) * 7 + j)" class="cercle white text-center p-2">@((i - 1) * 7 + j)<div>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>


                       

            <div class="row justify-content-center mt-5" id="lotto">
                <span class="joueur_tirage mx-4">2</span>
                <span class="joueur_tirage mx-4">26</span>
                <span class="joueur_tirage mx-4">40</span>
                <span class="joueur_tirage mx-4">10</span>
                <span class="joueur_tirage mx-4">6</span>
                <span class="joueur_tirage mx-4">33</span>
            </div>

            <div class="d-flex justify-content-center mt-5">
                <form method="post" action="Game" id="formInput">
                    <input name="player_number" type="text" hidden/>
                    <button class="btn btn-primary mx-5" id="submitButton" type="submit">Validé</button>
                    <button class="btn btn-secondary mx-5" id="submitButton" type="submit">Réinitialiser</button>
                </form>
            </div>
        </div>

    </div>
</section>

<script src="~/js/sciptGame.js" asp-append-version="true"></script>
