 @model GameViewModel;  
 @{
    ViewData["Title"] = "Home Page";
}
<!-- Régles du jeu-->
<section class="about-section text-center test" id="rules">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Régles du jeu</h2>
                <p class="text-white-50">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                </p>
            </div>
        </div>
        <img class="img-fluid" src="~/assets/img/ball_lotery.png" alt="..." />
    </div>
</section>
<!-- Jeu-->
<section class="projects-section bg-light" id="game">
    <div class="container px-4 px-lg-5">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4 class="text-uppercase">votre tirage : </h4>
                    <p class="text-black-50 mb-0">Veuillez sélectionner six boules de 1 à 49 Une fois fais vous pouvez validé votre tirage</p>
                </div>
            </div>
        </div>
        <div class="grille">
            <table class="table table-borderless">
                <tbody>
                    @for (int i = 1; i <= 7; i++)
                    {
                        <tr>  
                            @for (int j = 1; j <= 7; j++)
                            {
                                <td class="">
                                    <div onclick="getNumberID(@((i - 1) * 7 + j))" id="@((i - 1) * 7 + j)" class="cercle white text-center p-2">@((i - 1) * 7 + j)<div>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

            <div class="d-flex justify-content-center mt-5">
                <form method="post" action="Game" id="formInput">
                    <input name="player_number" id="player_number" type="text" hidden />
                    <button class="btn btn-primary mx-5" id="submitButton" type="submit">Validé</button>
                </form>
                <button class="btn btn-secondary mx-5" id="resetButton" onclick="reset()">Réinitialiser</button>
            </div>
        </div>

    </div>
</section>

<script src="~/js/sciptGame.js" asp-append-version="true"></script>
