@{
    ViewData["Title"] = "Home Page";
}

<!-- résultats-->
<section class="signup-section" id="result">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="fa-solid fa-crown fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Résultat de votre tirage !</h2>
                <form class="form-signup" id="">
                    <div class="row input-group-newsletter">
                        <div class="col"><input class="form-control" id="result_code" placeholder="Entrez votre code ..." /></div>
                        <div class="col-auto"><button class="btn btn-primary" id="submitButton" type="submit">Validé !</button></div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-ranking-star text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Classement</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="text-black-50">1er place</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-coins text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Gain</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="text-black-50">Vous avez gagné 80 coins !</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-clock text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Date du tirage</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="text-black-50">29 novembre 2022 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
